# idea目录不加入
.idea/

# git目录不添加
.git/

# 忽略ipynb的文件生成的目录
# 目录.ipynb_checkpoints
# 目录.virtual_documents
*/.ipynb_checkpoints/
*/.virtual_documents/

# 不过滤py文件，txt文件，ipynb文件，mat文件，md文件
!*.py
!*.txt
!*.ipynb
!*.mat
!*.md
